# Fichiers de cache Python
__pycache__/
*.pyc

# Dossiers d'environnement virtuel
venv/
env/
.venv/

# Fichier de configuration de l'environnement
.env

# Build artifacts
*.egg-info

# Alembic & SQL
*.db
alembic.ini